<div class="title">
  <h2 class="title-item-1">Users list without pagination!</h2>
  <a class="title-item-2" href="#" routerLink="/">
    Navigate to User List with pagination.
  </a>
</div>

<div class="container">

  <table class="table" id="userlist-table">
    <thead class="container-header">
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_num</th>
        <th>address_1</th>
        <th>city</th>
        <th>zip</th>
        <th>geo</th>
        <th>pan</th>
        <th>pin</th>
        <th>id</th>
        <th>status</th>
        <th>fee</th>
        <th>guid</th>
        <th>date_exit</th>
        <th>date_first</th>
        <th>date_recent</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody class="container-body">
      <tr class="container-body--data" *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
        <td>{{ user.date_entry }}</td>
        <td>{{ user.org_num }}</td>
        <td>{{ user.address_1 }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.zip }}</td>
        <td>{{ user.geo }}</td>
        <td>{{ user.pan }}</td>
        <td>{{ user.pin }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.fee }}</td>
        <td>{{ user.guid }}</td>
        <td>{{ user.date_exit }}</td>
        <td>{{ user.date_first }}</td>
        <td>{{ user.date_recent }}</td>
        <td>{{ user.pin }}</td>
        <td>
          <button (click)="onSubmit(user.id, user.status)">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>