.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  background-color: rgba(33, 33, 33, .3);
  align-items: center;
}

.title-item-1 {
  flex: 1 1 50%;
}

.navigation {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 18px;
}


.container {
  padding: 20px;
  display: grid;
}

.container-header {
  grid-row-start: 1;
  grid-row-end: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 5px;
  height: 25px;
  background: rgb(26, 26, 25);
  background-color: #ddd;
  text-transform: uppercase;

}

.container-body {
  grid-template-rows: 1fr auto;
}

tr.container-body--data:hover {
  background: #4CAF50;
  color: white;
}

.container-body--button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

table {
  display: block;
  table-layout: fixed;
  position: sticky;
  top: 0;
  z-index: 10;
}

tbody {
  border-top: 2px solid black;
}

tbody td,
thead th {
  width: 200px;
  border: 1px solid black;
}

thead tr:first-child th {
  position: sticky;
  top: 0;
  background: rgb(26, 26, 25);
  background-color: #ddd;
}

td {
  text-align: center;
}


/*
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  //background-color: rgba(33, 33, 33, .3);
  align-items: center;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  font-size: 18px;
}

thead tr:first-child th {
  position: sticky;
  top: 0;
  background: rgb(26, 26, 25);
  background-color: #ddd;
}

.container {
  padding: 20px;
  //display: grid;

  &__header {
    grid-row-start: 1;
    grid-row-end: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 5px;
    background: rgb(26, 26, 25);
    background-color: #ddd;
    text-transform: uppercase;
  }

  &__body {
    grid-template-rows: 1fr auto;

  }
  &__body--data:hover{
      background: #4CAF50;
      color: white;
    }
}

table {
  display: block;
  height: 700px;
  overflow-y: scroll;
  table-layout: fixed;
  position: sticky;
  top: 0;
  //z-index: 10;
}

tbody {
  border-top: 2px solid black;
}

tr.container__body--data:hover {
  background: #4CAF50;
  color: white;
}

tbody td,
thead th {
  width: 200px;
  border: 1px solid black;
}

td {
  text-align: center;
}
*/