<div class="title">
  <h2 class="title-item-1">Users list with pagination!</h2>
  <a class="title-item-2" href="#" routerLink="/usersList">
    Navigate to User List with out pagination.
  </a>
</div>
<div class="container">

  <table class="table" id="user-table">
    <thead class="container-header">
      <tr>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>company</th>
        <th>date_entry</th>
        <th>org_num</th>
        <th>address_1</th>
        <th>city</th>
        <th>zip</th>
        <th>geo</th>
        <th>pan</th>
        <th>pin</th>
        <th>id</th>
        <th>status</th>
        <th>fee</th>
        <th>guid</th>
        <th>date_exit</th>
        <th>date_first</th>
        <th>date_recent</th>
        <th>url</th>
      </tr>
    </thead>
    <h2 *ngIf="recordsNotFound">No records found</h2>
    <tbody class="container-body">
      <tr class="container-body--data" *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.company }}</td>
        <td>{{ user.date_entry }}</td>
        <td>{{ user.org_num }}</td>
        <td>{{ user.address_1 }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.zip }}</td>
        <td>{{ user.geo }}</td>
        <td>{{ user.pan }}</td>
        <td>{{ user.pin }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.fee }}</td>
        <td>{{ user.guid }}</td>
        <td>{{ user.date_exit }}</td>
        <td>{{ user.date_first }}</td>
        <td>{{ user.date_recent }}</td>
        <td>{{ user.pin }}</td>
        <td>
          <button (click)="onSubmit(user.id, user.status)">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container-footer" id="footer-nav">
    <ng-container *ngIf="!recordsNotFound">
      <button class="container-footer--prev" (click)="getNextPrevPages(false)" [disabled]="disablePrev">
        Previous
      </button>
      <span class="container-footer--page" *ngFor="let i of paginationList; let i = index">
        <button class= "container-footer--button"
        (click)="getUsersPerPage($event.target.value)" value="{{ i + 1 }}">
          {{ i + 1 }}
        </button>
      </span>
      <button class="container-footer--prev" (click)="getNextPrevPages(true)" [disabled]="disableNext">
        Next
      </button>
  
      <label>Records per page: </label>
      <select class="container-footer--prev" (change)="changeNumberOfPages($event.target.value)">
        <option *ngFor="let rec of noOfRecordsPerPage" value="{{ rec }}">
          {{ rec }}
        </option>
      </select>

    </ng-container>
  </div>
  

</div>