.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  //width: 80%;
  text-align: center;
  background-color: rgba(33, 33, 33, .3);
  align-items: center;
}

.title-item-1 {
  flex: 1 1 50%;
}


.navigation {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
  font-size: 18px;
}

thead tr:first-child th {
  position: sticky;
  top: 0;
  background: rgb(26, 26, 25);
  background-color: #ddd;
}

.container {
  padding: 20px;
  display: grid;
}

.container-header {
  grid-row-start: 1;
  grid-row-end: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 5px;
  background: rgb(26, 26, 25);
  background-color: #ddd;
  text-transform: uppercase;

}

.container-body {
  grid-template-rows: 1fr auto;
}

tr.container-body--data:hover {
  background: #4CAF50;
  color: white;
}

.container-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-footer--prev {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  cursor: pointer;
}

.container-footer--button {
  background-color: #f1f1f1;
  width: 30px;
  margin: 2px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  cursor: pointer;
}

.container-footer--button-active {
  background-color: #4CAF50;
  //color: white;
  width: 30px;
  margin: 2px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  cursor: pointer;
}

.btn-active {
  background: #4CAF50;
  color: white;
}

.container-footer--next {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  cursor: pointer;
}

.container-footer {
  display: inline-block;
}

.container-body--button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

button.container-footer--button:hover {
  background-color: #4CAF50;
  color: white;
}


.container-body--button button:hover:not(.active) {
  background-color: #ddd;
}

table {
  display: block;
  height: 500px;
  overflow-y: scroll;
  table-layout: fixed;
  position: sticky;
  top: 0;
  z-index: 10;
}

tbody {
  border-top: 2px solid black;
}

tbody td,
thead th {
  width: 200px;
  border: 1px solid black;
}

td {
  text-align: center;
}

/*

@import '../../../scss/vars';

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    //background-color: rgba(33, 33, 33, .3);
    align-items: center;
    text-transform: uppercase;
  }
  
  
  .navigation {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 15px;
    font-size: 18px;
  }
  
  thead tr:first-child th {
    position: sticky;
    top: 0;
    background: rgb(26, 26, 25);
    background-color: #ddd;
  }
  
  .container {
    padding: 20px;
    //display: grid;

    &__header {
      grid-row-start: 1;
      grid-row-end: 2;
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      padding: 5px;
      background: rgb(26, 26, 25);
      background-color: #ddd;
      text-transform: uppercase;
    }
  
    &__body {
      grid-template-rows: 1fr auto;

    }
    &__body--data:hover{
        background: #4CAF50;
        color: white;
      }
  
    &__footer {
      display: inline-block;
      grid-row-start: 3;
      grid-row-end: 4;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      padding: 5px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      &--prev {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        cursor: pointer;

        // &:hover {
        //   background: #4CAF50;
        //   color: white;
        //   cursor: pointer;
        // }
      }

      &--button {
        //background-color: #f1f1f1;
        width: 30px;
        margin: 2px;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background: #4CAF50;
          color: white;
          cursor: pointer;
        }
      }

    }
  }

  table {
    display: block;
    height: 700px;
    overflow-y: scroll;
    table-layout: fixed;
    position: sticky;
    top: 0;
    //z-index: 10;
  }
  
  tbody {
    border-top: 2px solid black;
  }

  tr.container__body--data:hover {
    background: #4CAF50;
    color: white;
  }
  
  tbody td,
  thead th {
    width: 200px;
    border: 1px solid black;
  }
  
  td {
    text-align: center;
  }
  
*/

/*
  
  .container-header {
    grid-row-start: 1;
    grid-row-end: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 5px;
    background: rgb(26, 26, 25);
    background-color: #ddd;
    text-transform: uppercase;
  
  }
  
  .container-body {
    grid-template-rows: 1fr auto;
  }
  
  tr.container-body--data:hover {
    background: #4CAF50;
    color: white;
  }
  
  .container-footer {
    grid-row-start: 3;
    grid-row-end: 4;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .container-footer--prev {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .container-footer--button {
    background-color: #f1f1f1;
    width: 30px;
    margin: 2px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .container-footer--next {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .container-footer {
    display: inline-block;
  }
  
  .container-body--button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  button.container-footer--button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .container-body--button button:hover:not(.active) {
    background-color: #ddd;
  }
  
  table {
    display: block;
    height: 700px;
    overflow-y: scroll;
    table-layout: fixed;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  tbody {
    border-top: 2px solid black;
  }
  
  tbody td,
  thead th {
    width: 200px;
    border: 1px solid black;
  }
  
  td {
    text-align: center;
  }
  
  */