//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './scss/vars';

html, body{
  font-family: 'Roboto', 'sans-serif';
  height: 100%;
}

body{
  margin: 0;

}

body { margin: 0; }


